.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
    color: #ccc;
}

.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
    font-weight: 900;
}

.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}
input:checked ~ label{ color: #f8ce0b;  }

